.Container {
  width: 50%;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  padding: 20px 0;
  cursor: pointer;
  position: relative;
  font-size: 24px;
  background-color: antiquewhite;
}

li.Completed::before {
  content: '✔';
  position: absolute;
  left: -20px;
}

.Completed {
  text-decoration: line-through;
}

.Close {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  padding: 22px 12px 0 0;
  margin: 0 10px;
  height: 100%;
}

.Close:hover {
  background-color: red;
  color: white;
}