.item-title, .edit {
    display: inline-block;
    max-width: calc(100% - 100px);
    font-size: 1.2em;
    word-wrap: break-word;
    height: 25px;
    margin: 20px;
    font-weight: 400;
}

svg {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.check-item {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 22px;
    display: inline-block;
}

.check-item:hover {
    color: #2dbc45;
    cursor: pointer;
}

.fa-check-circle {
    color: #2dbc45;
}

.edit {
    background: transparent;
    outline: none;
    resize: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    vertical-align: middle;
    padding: 0;
    color: #f1f1f1;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.editItem {
    color: #4286f4;
    right: 30px;
}

.deleteItem {
    color: #cc2e2e;
    right: 0;
}

.container-item {
    position: relative;
    
}

.container-item:hover {
    background-color: #2f3640;
}

.container-item:hover .controls {
    opacity: 1;
}

.completed-item {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.6);
}

.controls {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    position: absolute;
    top: 22px;
    opacity: 0;
}

.checkItem:hover, .editItem:hover, .deleteItem:hover {
    cursor: pointer;
}