.show {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.btn {
    position: relative;
    font-family: inherit;
    text-transform: uppercase;
    padding: 10px 5px;
    color: white;  
    border: none;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0.23em;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
}

.btn:focus {
    outline: none;
}

.todo {
    width: 100px;
    background-color: #273c75;
}

.show .todo:hover {
    cursor: pointer;
    background-color: #274cb3;
    top: 0.1em;
}

.show .todo:active, .all-btn, .completed-btn, .active-btn {
    top: 0.1em;
    background-color: #3369ff;
}

.clearCompleted {
    background-color: #6b1b1b;
}

.clearCompleted:active {
    outline: none;
}

.clearCompleted:hover {
    background-color: #b41313;
    cursor: pointer;
    transition: .3s;
}

.items-left {
    font-size: 1.3em;
}

.info {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

